@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.main{
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}
.main img{
    width: 60%;
}